.page1 {
    background-image: url(image/sushi5.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
html, body {
    height: 100%;

}
nav{
    width: 900px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 70px;
    display: inline-block;
         
}
nav:before {
    content: '';
    display: block;
    height: 20px;
    width: 100%;
    background-color: #c7f014;
    position: absolute;
    right: 0;
    z-index: -1;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        height: 20px;
        font-size: 18px;
        font-family:Montserrat-Bold,Tahoma,AdobeInvisFont,MyriadPro-Regular ;
        
    }

    ul li {
        float: left;
    }
    
    ul li a {
        display: block;
        height: 20px;
        padding: 0 20px;
        text-decoration: none;
        line-height: 20px;
        color: #faede0;
    }
    
    ul li a:hover {
        background: #a7eb09;
    }
    


    
